.ipynb_checkpoints/
CarND-Advanced-Lane-Lines/
test_images_new/



CVFundamentals/
Lane-Detection-for-Autonomous-Cars/
CarND-LaneLines-P1/
cpp/build/
build/
CarND-Term1-Starter-Kit/
CarND-Advanced-Lane-Lines/



/* Python */ 
.ipynb_checkpoints/


/* Latex junk */
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz



/*Advanced Lane Line Finding*/
wide_dist_pickle.p
CarND-Camera-Calibration/
AdvancedLaneFinding/images/


/* ctags */
tags
